<header class="mui-bar mui-bar-nav">
  <h1 class="mui-title" >公寓简介</h1>
  <a href="feed-back.html"><img  class="mui-pull-right" width=24 style="margin-top:8px;" src="assets/images/main/msg-ico.png"></a>
</header>

<nav class="mui-bar mui-bar-tab" id="tab-bottom">
  <a class="mui-tab-item mui-active" v=1 href="#tabbar" >
    <img src="assets/images/main/jianjie1.png" >
    <span class="mui-tab-label" >简介</span>
  </a>
  <a class="mui-tab-item"  id="popover-btn" v=2 href="#tabbar-with-chat">
    <!--
    <div style="position:relative">
        <div id="house-menu" style="display:none">
            <ul>
              <li href="house.html" v=111 style="color:#999;">Two bedroom - 100 sqm <br>二房-110平米</li>
              <li href="house.html" v=112 style="color:#999;">Three bedroom - 128 sqm <br>三房-128平米</li>
              <li href="house.html" v=113 style="color:#999;">Three bedroom - 128 sqm <br>三房-128平米</li>
              <li href="house.html" v=114 style="color:#999;">Three bedroom - 128 sqm <br>复式</li>
              <li href="house.html" v=115 style="color:#999; position:relative;height:0px">
                  <div style="position:absolute;bottom:-25px;text-align:center;width:100%;left:0px;">
                      <img style="margin:0 auto; width:auto;" src="assets/images/main/trig.png">
                  </div>
              </li>
            </ul>
        </div>
    </div>
  -->
    <img src="assets/images/main/yuding.png" >
    <span class="mui-tab-label">预定</span>
  </a>
  <a class="mui-tab-item"  v=3 href="#tabbar-with-sms">
    <img src="assets/images/main/fuwu.png" >
    <span class="mui-tab-label">服务</span>
  </a>
  <a class="mui-tab-item"  v=4 href="#tabbar-with-map">
    <img src="assets/images/main/huiyuan.png" >
    <span class="mui-tab-label">微会员</span>
  </a>
</nav>

<div class="mui-content">
  <div class="mui-slider" id ="slider-index">
    <div class="mui-slider-group mui-slider-loop">
      <!--支持循环，需要重复图片节点-->
      <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="assets/images/slider/3.jpg" /></a></div>
      <div class="mui-slider-item"><a href="#"><img src="assets/images/slider/1.jpg" /></a></div>
      <div class="mui-slider-item"><a href="#"><img src="assets/images/slider/2.jpg" /></a></div>
      <div class="mui-slider-item"><a href="#"><img src="assets/images/slider/3.jpg" /></a></div>
      <!--支持循环，需要重复图片节点-->
      <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="assets/images/slider/1.jpg" /></a></div>
    </div>
  </div>

  <script>
    var gallery = mui('.mui-slider');
    gallery.slider({
      interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
    });
  </script>

  <div  id="nav-index">
    <div class="mui-row container">
      <div class="mui-col-xs-4" onclick="contact()">
		 	<span class="mui-icon ">
		 		<img src="assets/images/main/phoneIcon.png" />
		 	</span>
        <span class="mui-tab-label">联系方式</span>
      </div>
      <div class="mui-col-xs-4">
	     	<span class="mui-icon">
	     		<a href="house.html"><img src="assets/images/main/introIcon.png" /></a>
	     	</span>
        <span class="mui-tab-label">房屋介绍</span>
      </div>
      <div class="mui-col-xs-4" onclick="about()">
	     	<span class="mui-icon">
	     		<img src="assets/images/main/srbIcon.png" />
	     	</span>
        <span class="mui-tab-label" >公司简介</span>
      </div>

    </div>
  </div>
  <div class="mui-row " id="map">
    <div class="mui-col-xs-12">
      <div class="_head"><img src="assets/images/main/mapIcon.png"/> 地图导航</div>
      <div id="_map" >
        <baidu-map ak="HR3RRyTsXYdQ3QzzG5yUkg0q" [options]="opts" [offline]="offlineOpts" (onMapLoaded)="loadMap($event)" (onMarkerClicked)="clickMarker($event)"></baidu-map>
      </div>
    </div>
  </div>
</div>
<div class="shadow"></div>
<div id ="contact-html">

  <div class="contactMain">
    <div class="mainBox">
      <div class="close">
        <img src="assets/images/main/close.png" onClick="$('#contact-html').fadeOut();$('.shadow').fadeOut()">
      </div>
      <ul class="main" style="margin-bottom:20px;">
        <li class="icon">
          <img src="assets/images/main/positionIcon.png" >
        </li>
        <li class="text">
          <h2 class="fTitleEn">Contact us:</h2>
          <p  class="fEn">
            Tower 11 & 12, Novel Century, 81 Xin Geng
            Road, Xuhui District, Shanghai 200030, China
          </p>
          <h2 class="fTitleCn">联系我们：</h2>
          <p  class="fCn">
            中国上海徐汇区辛耕路81弄永新世纪11和12号楼，邮编：200030
          </p>
        </li>
      </ul>
      <div class="clear"></div>
      <ul class="main" style="margin-bottom:20px;">
        <li class="icon">
          <img src="assets/images/main/pIcon.png">
        </li>
        <li class="text">
          <span class="fTitleEn" style="border-right: 1px dotted #dbdbdb;padding-right: 10px;">Tel</span>
          <span class="fTitleCn">电话：</span>
          <span  class="fCn">
            +86 21 2411 8888
          </span>
        </li>
      </ul>
      <div class="clear"></div>
      <ul class="main" style="margin-bottom:20px;">
        <li class="icon">
          <img src="assets/images/main/faxIcon.png">
        </li>
        <li class="text">
          <span class="fTitleEn" style="border-right: 1px dotted #dbdbdb;padding-right: 10px;">Fax</span>
          <span class="fTitleCn">传真：</span>
          <span  class="fCn">
            +86 21 2411 8801
          </span>
        </li>
      </ul>
      <div class="clear"></div>
      <ul class="main" style="padding-bottom:30px;">
        <li class="icon">
          <img src="assets/images/main/earthIcon.png">
        </li>
        <li class="text">
          <span class="fTitleEn" style="border-right: 1px dotted #dbdbdb;padding-right: 10px;">Net</span>
          <span class="fTitleCn">网址：</span>
          <span  class="fCn">www.shama.com</span>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="netBtn" onClick="$('#contact-html').fadeOut();$('#about-html').fadeIn();">
      <img src="assets/images/main/about.png" width="150">
    </div>
  </div>
</div>

<div id ="about-html">

  <div class="contactMain">
    <div class="mainBox">
      <div class="close">
        <img src="assets/images/main/close.png" onClick="$('#about-html').fadeOut();$('.shadow').fadeOut()">
      </div>
      <ul class="main" style="padding-bottom:30px;">
        <li class="">
          <div class="fTitleEn">
            Shama Xujiahui, Shanghai
          </div>
          <div class="fTitleCn">
            上海徐家汇莎玛
          </div>
          <p class="fEn">
            Filled with quaint boutiques, bustling markets and colourful department stores, modern Xujiahui is Shanghai&rsquo;s favourite shopping destination, particularly when searching for technology&rsquo;s latest offering. The neighbourhood presents other charms too such as St. Ignatius Cathedral, an important emblem of the city&rsquo;s Jesuit past and Xujiahui Park, an impressive urban playground filled with lush greenery and boasting its own meandering brook.
            <br/>
            Shama Xujiahui offers 110 apartments with one to three bedroom and duplex layouts and a fitness centre, surrounded by an array of restaurants, bars, and other essential amenities, and a mere block away from Xujiahui station on the city&rsquo;s Metro Line 1, Line 9 and Line 11. Shama Xujiahui offers tenants a haven of contemporary design and chic simplicity to retreat from the area&rsquo;s excitement.
          </p>

          <p class="fCn" style="">
            上海徐家汇坐拥众多高端商铺，地段繁华，百货大楼林立，极具现代化气息，颇受钟爱最新科技产品消费者的欢迎。徐家汇毗邻上海最负盛名的天主教堂&mdash;徐家汇大教堂和上海 都市绿地&mdash;徐家汇公园，花木流水，相得益彰。
            <br/>
            莎玛上海在徐家汇推出了110套豪华公寓，有一房至三房多种选择，装修时尚，并配有室内健身 房。莎玛徐家汇周边拥有众多餐馆、酒吧及其它必需娱乐设施，距离上海地铁1号线, 9号线及11号线徐家汇站仅 咫尺之遥。莎玛徐家汇将让您全面体验现代设计理念和简约精致设计风格。
          </p>
          <img src="assets/images/main/map.png" width="100%">
        </li>

      </ul>
      <div class="clear"> </div>
    </div>

    <div class="netBtn" onClick="window.open('http://cn.shama.com/xujiahui/')">
      <img src="assets/images/main/home.png" width="150">
    </div>
  </div>
</div>
<div id="popover" class="mui-popover">
  <ul class="mui-table-view">
    <li class="mui-table-view-cell"><a href="house.html">Two bedroom - 100 sqm <br>二房-110平米</a></li>
    <li class="mui-table-view-cell"><a href="house.html">Three bedroom - 128 sqm <br>三房-128平米</a></li>
    <li class="mui-table-view-cell"><a href="house.html">Three bedroom - 128 sqm <br>复式</a></li>
    <li class="mui-table-view-cell"><a href="house.html">Three bedroom - 128 sqm <br>复式</a></li>
    <li class="mui-table-view-cell"><a href="house.html">Three bedroom - 128 sqm <br>复式</a></li>
  </ul>
</div>
<script>
  function about(){
    mui(".shadow")[0].style.display = 'block';
    mui("#about-html")[0].style.display = 'block';
  }
  function contact(){
    mui(".shadow")[0].style.display = 'block';
    mui("#contact-html")[0].style.display = 'block';
    console.log(mui("#contact-html")[0].style);
    //var data = mui("#contact-html").innerHTML;
    //mui.alert(data,'联系方式','<a href="">关于莎玛 ></a>',null);
  }
  $('#house-menu li').each(function (){
    $(this).click(function(){alert(1)});
  });

  mui("#tab-bottom").on("tap","a",function(event){
    var id = this.getAttribute('v');
    if(id==1){
      window.location.href="index.html";
    }else if(id==2){
      mui('.mui-popover').popover('toggle',document.getElementById("popover-btn"));
      $('body,html').animate({ scrollTop: 0 }, 200, null ,function() {
        mui('.mui-popover').popover('toggle',document.getElementById("popover-btn"));
      });
      //mui('.mui-popover').popover('toggle',document.getElementById("popover-btn"));
      $('body,html').animate({ scrollTop: 0 }, 200, null ,function() {
        mui('.mui-popover').popover('toggle',document.getElementById("popover-btn"));
      });
    }else if(id==3){
      window.location.href="service.html";
    }else if(id==4){
      window.location.href="member.html";
    }
  });
</script>