<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title" >公寓简介</h1>
    <a href="feed-back.html"><img  class="mui-pull-right" width=24 style="margin-top:8px;" src="/app/images/main/msg-ico.png"></a>
</header>


<div class="mui-content">
    <div class="mui-slider" id ="slider-index">
        <div class="mui-slider-group mui-slider-loop" style="height: 226.41px;">
            <!--支持循环，需要重复图片节点-->
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="/app/images/slider/013.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/app/images/slider/012.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/app/images/slider/011.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/app/images/slider/010.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/app/images/slider/006.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/app/images/slider/013.jpg" /></a></div>
            <!--支持循环，需要重复图片节点-->
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="/app/images/slider/012.jpg" /></a></div>
        </div>
    </div>

    <script>

    </script>

    <div  id="nav-index">
        <div class="mui-row container">
            <div class="mui-col-xs-4" ng-click="contact()">
		 	<span class="mui-icon ">
		 		<img src="/app/images/main/phoneIcon.png" />
		 	</span>
                <span class="mui-tab-label">联系方式</span>
            </div>
            <div class="mui-col-xs-4">
	     	<span class="mui-icon">
	     		<a href="/#!/house"><img src="/app/images/main/introIcon.png" /></a>
	     	</span>
                <span class="mui-tab-label">房屋介绍</span>
            </div>
            <div class="mui-col-xs-4" ng-click="about()">
	     	<span class="mui-icon">
	     		<img src="/app/images/main/srbIcon.png" />
	     	</span>
                <span class="mui-tab-label" >公司简介</span>
            </div>

        </div>
    </div>
    <div class="mui-row " id="map">
        <div class="mui-col-xs-12">
            <div class="_head"><img src="/app/images/main/mapIcon.png"/> 地图导航</div>
            <div id="_map">
                地图加载中...
            </div>
        </div>
    </div>
</div>

<div class="shadow"></div>
<div id ="contact-html">

    <div class="contactMain">
        <div class="mainBox">
            <div class="close">
                <img src="/app/images/main/close.png" onClick="$('#contact-html').fadeOut();$('.shadow').fadeOut()">
            </div>
            <ul class="main" style="margin-bottom:20px;">
                <li class="icon">
                    <img src="/app/images/main/positionIcon.png" >
                </li>
                <li class="text">
                    <h2 class="fTitleEn">Contact us:</h2>
                    <p  class="fEn">
                        Tower 11 & 12, Novel Century, 81 Xin Geng
                        Road, Xuhui District, Shanghai 200030, China
                    </p>
                    <h2 class="fTitleCn">联系我们：</h2>
                    <p  class="fCn">
                        中国上海徐汇区辛耕路81弄永新世纪11和12号楼，邮编：200030
                    </p>
                </li>
            </ul>
            <div class="clear"></div>
            <ul class="main" style="margin-bottom:20px;">
                <li class="icon">
                    <img src="/app/images/main/pIcon.png">
                </li>
                <li class="text">
                    <span class="fTitleEn" style="border-right: 1px dotted #dbdbdb;padding-right: 10px;">Tel</span>
                    <span class="fTitleCn">电话：</span>
                    <span  class="fCn">
            +86 21 2411 8888
          </span>
                </li>
            </ul>
            <div class="clear"></div>
            <ul class="main" style="margin-bottom:20px;">
                <li class="icon">
                    <img src="/app/images/main/faxIcon.png">
                </li>
                <li class="text">
                    <span class="fTitleEn" style="border-right: 1px dotted #dbdbdb;padding-right: 10px;">Fax</span>
                    <span class="fTitleCn">传真：</span>
                    <span  class="fCn">
            +86 21 2411 8801
          </span>
                </li>
            </ul>
            <div class="clear"></div>
            <ul class="main" style="padding-bottom:30px;">
                <li class="icon">
                    <img src="/app/images/main/earthIcon.png">
                </li>
                <li class="text">
                    <span class="fTitleEn" style="border-right: 1px dotted #dbdbdb;padding-right: 10px;">Net</span>
                    <span class="fTitleCn">网址：</span>
                    <span  class="fCn">www.shama.com</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="netBtn" onClick="$('#contact-html').fadeOut();$('#about-html').fadeIn();">
            <img src="/app/images/main/about.png" width="150">
        </div>
    </div>
</div>

<div id ="about-html">

    <div class="contactMain">
        <div class="mainBox">
            <div class="close">
                <img src="/app/images/main/close.png" onClick="$('#about-html').fadeOut();$('.shadow').fadeOut()">
            </div>
            <ul class="main" style="padding-bottom:30px;">
                <li class="">
                    <div class="fTitleEn">
                        Shama Xujiahui, Shanghai
                    </div>
                    <div class="fTitleCn">
                        上海徐家汇莎玛
                    </div>
                    <p class="fEn">
                        Shama Xujiahui offers 110 apartments with one to three bedroom and duplex layouts and a fitness centre, surrounded by an array of restaurants, bars, and other essential amenities, and a mere block away from Xujiahui station on the city&rsquo;s Metro Line 1, Line 9 and Line 11. Shama Xujiahui offers tenants a haven of contemporary design and chic simplicity to retreat from the area&rsquo;s excitement.
                    </p>

                    <p class="fCn" style="">
                        莎玛上海在徐家汇推出了110套豪华公寓，有一房至三房多种选择，装修时尚，并配有室内健身房。莎玛徐家汇周边拥有众多餐馆、酒吧及其它必需娱乐设施，距离上海地铁1号线, 9号线及11号线徐家汇站仅咫尺之遥。莎玛徐家汇将让您全面体验现代设计理念和简约精致设计风格。
                    </p>
                    <img src="/app/images/main/map.png" width="100%">
                </li>

            </ul>
            <div class="clear"> </div>
        </div>

        <div class="netBtn" onClick="window.open('http://cn.shama.com/xujiahui/')">
            <img src="/app/images/main/home.png" width="150">
        </div>
    </div>
</div>