<header class="mui-bar mui-bar-nav">
    <a href="/#!/order"><span class="mui-icon mui-icon-arrowleft" ></span></a>
    <h1 class="mui-title">微会员</h1>
    <a ng-click="logout()"><img src="../images/main/member.png" class="mui-pull-right" style="padding-top:10px;" /></a>
</header>


<div class="mui-content member-info">

    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>姓名<img src="../images/main/m1.gif" ></label>
            <input type="text" ng-model="data.name" class="mui-input-clear" placeholder="请填写姓名">
        </div>
        <div class="mui-input-row">
            <label>性别<img src="../images/main/m2.gif" ></label>
            <span class="mui-pull-right">{{data.sex == 'male' ? '男' : '女'}}</span>
        </div>

        <div class="mui-input-row">
            <label>房间号<img src="../images/main/m3.gif" ></label>
            <span class="mui-pull-right">{{data.roomNumber}}号</span>
        </div>
        <div class="mui-input-row">
            <label>手机号<img src="../images/main/m4.gif" ></label>
            <span class="mui-pull-right">{{data.username}}</span>
        </div>
        <div class="mui-input-row">
            <label>生日<img src="../images/main/m5.png" ></label>
            <span class="mui-pull-right">{{data.birthDay}}</span>
        </div>
        <div class="mui-button-row">
            <a ng-click="updateInfo()">保存</a>
        </div>
    </form>
</div>