<header class="mui-bar mui-bar-nav">
    <a href="index.html"><span class="mui-icon mui-icon-arrowleft" ></span></a>
    <h1 class="mui-title">服务</h1>
    <a href="feed-back.html"><img  class="mui-pull-right" width=24 style="margin-top:8px;" src="../images/main/msg-ico.png"></a>
</header>



<div class="mui-content">
    <div class="mui-row">
        <div class="mui-col-sm-4 mui-col-xs-4" id="service-left-container">
            <ul class="mui-table-view service-left">
                <li ng-repeat="service in showServices" class="mui-table-view-cell" ng-click="showDetails(service)">
                    <div><img ng-src="{{service.image}}"/></div>
                    {{service.service.en_name}}<br>
                    {{service.service.name}}
                </li>
            </ul>
        </div>
        <div class="mui-col-sm-8 mui-col-xs-8 service-right">

            <ul class="mui-table-view " style="display:block">
                <li ng-repeat="detail in details" class="mui-table-view-cell" onclick="save_item()">
                    <div class="mui-row" >
                        <div class="mui-col-sm-5 mui-col-xs-5">{{detail.name}}</div>
                        <div class="mui-col-sm-7 mui-col-xs-7"><img src="../images/main/plus.png" /> RMB{{detail.price}} </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>
<div class="mui-row order-bar">
    <div class="mui-col-sm-7 mui-col-xs-7">合计：<span>1项服务订单</span></div>
    <div class="mui-col-sm-5 mui-col-xs-5"><a href ="javascript:void(0)" onclick="submit_order()" style="color:#fff;">提交订单</a></div>
</div>

<script>

    function _tab(btns,items){
        $(btns).each(function(n){
            $(this).bind("click", function(){
                $(btns).each(function(m){
                    $(this).find('img').attr('src','images/main/s'+(m+1)+'.png');
                });
                $(this).find('img').attr('src','images/main/s'+(n+1)+''+(n+1)+'.png');
                $(items).each(function(){
                    $(this).hide();
                });
                $(items).eq(n).fadeIn();
            })
        });
    }

    function submit_order(){
        mui.toast('订单提交成功',{ duration:'short', type:'div' })
    }
    function save_item(){
        mui.toast('服务添加成功',{ duration:'short', type:'div' });
    }
</script>