<header class="mui-bar mui-bar-nav">
    <a href="/"><span class="mui-icon mui-icon-arrowleft" ></span></a>
    <h1 class="mui-title">登陆</h1>
    <a href="/#!/feedback"><img  class="mui-pull-right" width=24 style="margin-top:8px;" src="../images/main/msg-ico.png"></a>
</header>


<div class="mui-content" style="background:#fff; height:100%;" id="form_login">
    <div id="head">
        <img src="../images/main/person.png" width="60%"  />
    </div>
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-contact"></span></label>
            <input ng-model="data.username" type="text" class="mui-input-clear" placeholder="手机号">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-locked"></span></label>
            <input ng-model="data.password" type="password" class="mui-input-password" placeholder="密码">
        </div>
        <div class="mui-button-row" id="btn_login">
            <a ng-click="login()" style="color:#fff;">LOGIN</a>
        </div>
        <div class="mui-button-row">
            <a href="/#!/register" style="color:#999;" class="mui-pull-right" >注册账户</a>
        </div>
    </form>
</div>