<header class="mui-bar mui-bar-nav">
    <a href="/app/#!/login"><span class="mui-icon mui-icon-arrowleft" ></span></a>
    <h1 class="mui-title">注册（1/2）</h1>
    <a href="/app/#!/feedback"><img  class="mui-pull-right" width=24 style="margin-top:8px;" src="/app/images/main/msg-ico.png"></a>
</header>


<div class="mui-content">

    <form class="mui-input-group">
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-phone"></span></label>
            <input ng-model="data.username" type="text" class="mui-input-clear" placeholder="请输入手机号码">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-phone"></span></label>
            <a ng-click="sendVerifyCode()" ng-class="paraclass" ng-bind="paracont">获取验证码</a>
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-contact"></span></label>
            <input ng-model="data.verifyCode" type="text" class="mui-input-clear" placeholder="请输入手机验证码">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-locked"></span></label>
            <input ng-model="data.password" type="password" class="mui-input-password" placeholder="请设置帐号登录密码">
        </div>
        <div class="mui-button-row">
            <a ng-click="register()">NEXT</a>
        </div>
    </form>
</div>