<header class="mui-bar mui-bar-nav">
    <a href="/app/#!/login"><span class="mui-icon mui-icon-arrowleft" ></span></a>
    <h1 class="mui-title">注册（1/2）</h1>
    <a href="/app/#!/feedback"><img  class="mui-pull-right" width=24 style="margin-top:8px;" src="/app/images/main/msg-ico.png"></a>
</header>


<div class="mui-content">

    <form class="mui-input-group">
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-phone"></span></label>
            <input ng-model="data.username" type="text" class="mui-input-clear" placeholder="请输入手机号码">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-phone"></span></label>
            <a ng-click="sendVerifyCode()" ng-class="paraclass" ng-bind="paracont">获取验证码</a>
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-contact"></span></label>
            <input ng-model="data.verifyCode" type="text" class="mui-input-clear" placeholder="请输入手机验证码">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-locked"></span></label>
            <input ng-model="data.password" type="password" class="mui-input-password" placeholder="请设置帐号登录密码">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-phone"></span></label>
            <input type="text" ng-model="data.name" class="mui-input-clear" placeholder="请填写姓名">
        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-input-row mui-radio mui-left">
                    <label>男</label>
                    <input ng-model="data.sex" name="sex" value="male" type="radio">
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-input-row mui-radio mui-left">
                    <label>女</span></label>
                    <input ng-model="data.sex" name="sex" value="female" type="radio">
                </div>
            </div>

        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-input-row mui-radio mui-left">
                    <label>11号楼</label>
                    <input ng-model="data.buildingNumber" name="buildingNumber" value="11" type="radio">
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-input-row mui-radio mui-left">
                    <label>12号楼</span></label>
                    <input ng-model="data.buildingNumber" name="buildingNumber" value="12" type="radio">
                </div>
            </div>
        </div>

        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-locked"></span></label>
            <input ng-model="data.roomNumber" type="input" class="mui-input-password" placeholder="房间号">
        </div>
        <div class="mui-button-row">
            <a ng-click="register()">注册</a>
        </div>
    </form>
</div>